ALTER TABLE booking ADD CONSTRAINT FK_E00CEDDE67B339C5 FOREIGN KEY (startup_id) REFERENCES `startup` (startup_id);
ALTER TABLE booking ADD CONSTRAINT FK_E00CEDDEA76ED395 FOREIGN KEY (user_id) REFERENCES `users` (id);
ALTER TABLE businessplan MODIFY businessPlanID INT NOT NULL;
ALTER TABLE businessplan ADD market_analysis LONGTEXT DEFAULT NULL, ADD value_proposition LONGTEXT DEFAULT NULL, ADD business_model LONGTEXT DEFAULT NULL, ADD marketing_strategy LONGTEXT DEFAULT NULL, ADD financial_forecast LONGTEXT DEFAULT NULL, ADD funding_required NUMERIC(15, 2) DEFAULT NULL, ADD creation_date DATE DEFAULT NULL, ADD last_update DATE DEFAULT NULL, DROP marketAnalysis, DROP valueProposition, DROP businessModel, DROP marketingStrategy, DROP financialForecast, DROP fundingRequired, DROP creationDate, DROP lastUpdate, CHANGE businessPlanID business_plan_id INT AUTO_INCREMENT NOT NULL, CHANGE startupID startup_id INT DEFAULT NULL, DROP PRIMARY KEY, ADD PRIMARY KEY (business_plan_id);
ALTER TABLE businessplan ADD CONSTRAINT FK_E4273F767B339C5 FOREIGN KEY (startup_id) REFERENCES `startup` (startup_id);
ALTER TABLE businessplan ADD CONSTRAINT FK_E4273F7A76ED395 FOREIGN KEY (user_id) REFERENCES `users` (id);
CREATE INDEX idx_plan_startup ON businessplan (startup_id);
CREATE INDEX idx_plan_user ON businessplan (user_id);
ALTER TABLE comment_reaction CHANGE type reaction_type VARCHAR(20) NOT NULL;
ALTER TABLE comment_reaction ADD CONSTRAINT FK_B99364F1F8697D13 FOREIGN KEY (comment_id) REFERENCES `comments` (id);
ALTER TABLE comment_reaction ADD CONSTRAINT FK_B99364F1A76ED395 FOREIGN KEY (user_id) REFERENCES `users` (id);
CREATE INDEX IDX_B99364F1F8697D13 ON comment_reaction (comment_id);
CREATE INDEX IDX_B99364F1A76ED395 ON comment_reaction (user_id);
ALTER TABLE comments CHANGE content content LONGTEXT DEFAULT NULL, CHANGE created_at created_at DATETIME DEFAULT NULL, CHANGE post_id post_id INT NOT NULL;
ALTER TABLE comments ADD CONSTRAINT FK_5F9E962A4B89032C FOREIGN KEY (post_id) REFERENCES `forum_posts` (id);
ALTER TABLE comments ADD CONSTRAINT FK_5F9E962AA76ED395 FOREIGN KEY (user_id) REFERENCES `users` (id);
CREATE INDEX idx_comment_post ON comments (post_id);
CREATE INDEX idx_comment_user ON comments (user_id);
ALTER TABLE forum_follow ADD CONSTRAINT FK_709B77A1AC24F853 FOREIGN KEY (follower_id) REFERENCES `users` (id);
ALTER TABLE forum_follow ADD CONSTRAINT FK_709B77A11816E3A3 FOREIGN KEY (following_id) REFERENCES `users` (id);
CREATE INDEX IDX_709B77A1AC24F853 ON forum_follow (follower_id);
CREATE INDEX IDX_709B77A11816E3A3 ON forum_follow (following_id);
ALTER TABLE forum_posts CHANGE title title VARCHAR(255) DEFAULT NULL, CHANGE content content LONGTEXT DEFAULT NULL, CHANGE created_at created_at DATETIME DEFAULT NULL, CHANGE updated_at updated_at DATETIME DEFAULT NULL, CHANGE image_url image_url VARCHAR(400) DEFAULT NULL;
ALTER TABLE forum_posts ADD CONSTRAINT FK_90291C2DA76ED395 FOREIGN KEY (user_id) REFERENCES `users` (id);
CREATE INDEX idx_post_user ON forum_posts (user_id);
ALTER TABLE fundingapplication ADD entrepreneur_id_int INT DEFAULT NULL, ADD submission_date DATE DEFAULT NULL, ADD application_reason VARCHAR(255) DEFAULT NULL, ADD project_id_int INT DEFAULT NULL, ADD payment_schedule VARCHAR(255) DEFAULT NULL, DROP entrepreneurId, DROP submissionDate, DROP applicationReason, DROP projectId, DROP paymentSchedule, CHANGE amount amount NUMERIC(15, 2) DEFAULT NULL, CHANGE status status VARCHAR(255) DEFAULT NULL, CHANGE attachment attachment VARCHAR(255) DEFAULT NULL;
CREATE INDEX idx_funding_entrepreneur ON fundingapplication (entrepreneur_id_int);
CREATE INDEX idx_funding_project ON fundingapplication (project_id_int);
ALTER TABLE fundingevaluation ADD risk_level VARCHAR(50) DEFAULT NULL, ADD funding_category VARCHAR(50) DEFAULT NULL, ADD funding_application_id INT NOT NULL, ADD evaluator_id INT NOT NULL, DROP fundingApplicationId, DROP evaluatorId, DROP riskLevel, DROP fundingCategory, CHANGE score score INT DEFAULT NULL, CHANGE decision decision VARCHAR(50) DEFAULT NULL, CHANGE created_at created_at DATETIME DEFAULT NULL, CHANGE evaluationComments evaluation_comments LONGTEXT DEFAULT NULL;
ALTER TABLE fundingevaluation ADD CONSTRAINT FK_437E030855E7D552 FOREIGN KEY (funding_application_id) REFERENCES `fundingapplication` (id);
ALTER TABLE fundingevaluation ADD CONSTRAINT FK_437E030843575BE2 FOREIGN KEY (evaluator_id) REFERENCES `users` (id);
CREATE INDEX IDX_437E030855E7D552 ON fundingevaluation (funding_application_id);
CREATE INDEX IDX_437E030843575BE2 ON fundingevaluation (evaluator_id);
ALTER TABLE interactions CHANGE type interaction_type VARCHAR(20) NOT NULL;
ALTER TABLE interactions ADD CONSTRAINT FK_538B74BD4B89032C FOREIGN KEY (post_id) REFERENCES `forum_posts` (id);
ALTER TABLE interactions ADD CONSTRAINT FK_538B74BDA76ED395 FOREIGN KEY (user_id) REFERENCES `users` (id);
CREATE INDEX IDX_538B74BD4B89032C ON interactions (post_id);
CREATE INDEX IDX_538B74BDA76ED395 ON interactions (user_id);
ALTER TABLE mentor_evaluations ADD entrepreneur_id INT NOT NULL, ADD mentor_id INT NOT NULL, ADD session_id INT NOT NULL, DROP entrepreneurID, DROP mentorID, DROP sessionID, CHANGE createdAt created_at DATETIME NOT NULL;
ALTER TABLE mentor_evaluations ADD CONSTRAINT FK_7F28580B283063EA FOREIGN KEY (entrepreneur_id) REFERENCES `users` (id);
ALTER TABLE mentor_evaluations ADD CONSTRAINT FK_7F28580BDB403044 FOREIGN KEY (mentor_id) REFERENCES `users` (id);
ALTER TABLE mentor_evaluations ADD CONSTRAINT FK_7F28580B613FECDF FOREIGN KEY (session_id) REFERENCES `session` (session_id);
CREATE INDEX IDX_7F28580B283063EA ON mentor_evaluations (entrepreneur_id);
CREATE INDEX IDX_7F28580BDB403044 ON mentor_evaluations (mentor_id);
CREATE INDEX IDX_7F28580B613FECDF ON mentor_evaluations (session_id);
ALTER TABLE mentor_favorites ADD entrepreneur_id INT NOT NULL, ADD mentor_id INT NOT NULL, DROP entrepreneurID, DROP mentorID, CHANGE createdAt created_at DATETIME NOT NULL;
ALTER TABLE mentor_favorites ADD CONSTRAINT FK_26F5028D283063EA FOREIGN KEY (entrepreneur_id) REFERENCES `users` (id);
ALTER TABLE mentor_favorites ADD CONSTRAINT FK_26F5028DDB403044 FOREIGN KEY (mentor_id) REFERENCES `users` (id);
CREATE INDEX IDX_26F5028D283063EA ON mentor_favorites (entrepreneur_id);
CREATE INDEX IDX_26F5028DDB403044 ON mentor_favorites (mentor_id);
ALTER TABLE mentorship_message ADD created_at DATETIME DEFAULT NULL, DROP timestamp, CHANGE content content LONGTEXT DEFAULT NULL;
ALTER TABLE mentorship_message ADD CONSTRAINT FK_A27783FAF624B39D FOREIGN KEY (sender_id) REFERENCES `users` (id);
ALTER TABLE mentorship_message ADD CONSTRAINT FK_A27783FACD53EDB6 FOREIGN KEY (receiver_id) REFERENCES `users` (id);
CREATE INDEX IDX_A27783FAF624B39D ON mentorship_message (sender_id);
CREATE INDEX IDX_A27783FACD53EDB6 ON mentorship_message (receiver_id);
ALTER TABLE reclamations CHANGE title title VARCHAR(100) DEFAULT NULL, CHANGE description description LONGTEXT DEFAULT NULL, CHANGE status status VARCHAR(255) DEFAULT NULL, CHANGE created_at created_at DATETIME DEFAULT NULL;
ALTER TABLE reclamations ADD CONSTRAINT FK_1CAD6B76983624B7 FOREIGN KEY (requested_id) REFERENCES `users` (id);
ALTER TABLE reclamations ADD CONSTRAINT FK_1CAD6B76158E0B66 FOREIGN KEY (target_id) REFERENCES `users` (id);
CREATE INDEX idx_reclamation_requester ON reclamations (requested_id);
CREATE INDEX idx_reclamation_target ON reclamations (target_id);
ALTER TABLE report CHANGE target_id target_id_int INT NOT NULL;
ALTER TABLE report ADD CONSTRAINT FK_C42F7784E1CFE6F5 FOREIGN KEY (reporter_id) REFERENCES `users` (id);
CREATE INDEX IDX_C42F7784E1CFE6F5 ON report (reporter_id);
ALTER TABLE responses ADD CONSTRAINT FK_315F9F942D6BA2D9 FOREIGN KEY (reclamation_id) REFERENCES `reclamations` (id);
ALTER TABLE responses ADD CONSTRAINT FK_315F9F9490436029 FOREIGN KEY (responder_user_id) REFERENCES `users` (id);
CREATE INDEX IDX_315F9F942D6BA2D9 ON responses (reclamation_id);
CREATE INDEX IDX_315F9F9490436029 ON responses (responder_user_id);
ALTER TABLE schedule ADD schedule_id INT AUTO_INCREMENT NOT NULL, ADD available_date DATE DEFAULT NULL, ADD start_time TIME DEFAULT NULL, ADD end_time TIME DEFAULT NULL, ADD mentor_id INT NOT NULL, DROP scheduleID, DROP mentorID, DROP availableDate, DROP startTime, DROP endTime, CHANGE isBooked is_booked TINYINT NOT NULL, DROP PRIMARY KEY, ADD PRIMARY KEY (schedule_id);
ALTER TABLE schedule ADD CONSTRAINT FK_5A3811FBDB403044 FOREIGN KEY (mentor_id) REFERENCES `users` (id);
CREATE INDEX IDX_5A3811FBDB403044 ON schedule (mentor_id);
ALTER TABLE session ADD session_id INT NOT NULL, ADD session_date DATE DEFAULT NULL, ADD meeting_link VARCHAR(255) DEFAULT NULL, ADD mentor_id INT NOT NULL, ADD entrepreneur_id INT NOT NULL, ADD startup_id INT NOT NULL, DROP sessionID, DROP mentorID, DROP entrepreneurID, DROP startupID, DROP sessionDate, DROP sessionType, CHANGE scheduleID schedule_id_int INT DEFAULT NULL, CHANGE meetingLink session_type VARCHAR(255) DEFAULT NULL, CHANGE successProbability success_probability DOUBLE PRECISION DEFAULT NULL, DROP PRIMARY KEY, ADD PRIMARY KEY (session_id);
ALTER TABLE session ADD CONSTRAINT FK_D044D5D4DB403044 FOREIGN KEY (mentor_id) REFERENCES `users` (id);
ALTER TABLE session ADD CONSTRAINT FK_D044D5D4283063EA FOREIGN KEY (entrepreneur_id) REFERENCES `users` (id);
ALTER TABLE session ADD CONSTRAINT FK_D044D5D467B339C5 FOREIGN KEY (startup_id) REFERENCES `startup` (startup_id);
CREATE INDEX idx_session_mentor ON session (mentor_id);
CREATE INDEX idx_session_entrepreneur ON session (entrepreneur_id);
CREATE INDEX idx_session_startup ON session (startup_id);
ALTER TABLE session_feedback ADD feedback_id INT NOT NULL, ADD session_id INT NOT NULL, ADD mentor_id INT NOT NULL, ADD progress_score INT NOT NULL, ADD next_actions LONGTEXT DEFAULT NULL, DROP feedbackID, DROP sessionID, DROP mentorID, DROP progressScore, DROP nextActions, CHANGE strengths strengths LONGTEXT DEFAULT NULL, CHANGE weaknesses weaknesses LONGTEXT DEFAULT NULL, CHANGE recommendations recommendations LONGTEXT DEFAULT NULL, CHANGE sentiment sentiment VARCHAR(20) DEFAULT NULL, CHANGE feedbackDate feedback_date DATE NOT NULL, ADD PRIMARY KEY (feedback_id);
ALTER TABLE session_notes ADD note_id INT AUTO_INCREMENT NOT NULL, ADD satisfaction_score INT DEFAULT NULL, ADD note_date DATE DEFAULT NULL, ADD session_id INT NOT NULL, ADD entrepreneur_id INT NOT NULL, DROP noteID, DROP sessionID, DROP entrepreneurID, DROP satisfactionScore, DROP noteDate, CHANGE notes notes LONGTEXT DEFAULT NULL, ADD PRIMARY KEY (note_id);
ALTER TABLE session_notes ADD CONSTRAINT FK_DA661E5A613FECDF FOREIGN KEY (session_id) REFERENCES `session` (session_id);
ALTER TABLE session_notes ADD CONSTRAINT FK_DA661E5A283063EA FOREIGN KEY (entrepreneur_id) REFERENCES `users` (id);
CREATE INDEX IDX_DA661E5A613FECDF ON session_notes (session_id);
CREATE INDEX IDX_DA661E5A283063EA ON session_notes (entrepreneur_id);
ALTER TABLE session_todos ADD is_done TINYINT DEFAULT NULL, ADD created_at DATETIME NOT NULL, DROP isDone, DROP createdAt, CHANGE taskDescription task_description VARCHAR(255) NOT NULL, CHANGE sessionID session_id INT NOT NULL;
ALTER TABLE session_todos ADD CONSTRAINT FK_16FFDA83613FECDF FOREIGN KEY (session_id) REFERENCES `session` (session_id);
CREATE INDEX IDX_16FFDA83613FECDF ON session_todos (session_id);
ALTER TABLE startup MODIFY startupID INT NOT NULL;
ALTER TABLE startup ADD creation_date DATE DEFAULT NULL, ADD kpi_score DOUBLE PRECISION DEFAULT NULL, ADD last_evaluation_date DATE DEFAULT NULL, ADD mentor_id INT DEFAULT NULL, ADD founder_id INT DEFAULT NULL, ADD business_plan_id INT DEFAULT NULL, DROP creationDate, DROP KPIscore, DROP lastEvaluationDate, DROP mentorID, DROP fundingAmount, DROP incubatorProgram, DROP founderID, DROP businessPlanID, CHANGE description description LONGTEXT DEFAULT NULL, CHANGE startupID startup_id INT AUTO_INCREMENT NOT NULL, CHANGE imageURL image_url VARCHAR(255) DEFAULT NULL, DROP PRIMARY KEY, ADD PRIMARY KEY (startup_id);
ALTER TABLE startup ADD CONSTRAINT FK_E48E50F6DB403044 FOREIGN KEY (mentor_id) REFERENCES `users` (id);
ALTER TABLE startup ADD CONSTRAINT FK_E48E50F619113B3C FOREIGN KEY (founder_id) REFERENCES `users` (id);
ALTER TABLE startup ADD CONSTRAINT FK_E48E50F6B5AAB9D6 FOREIGN KEY (business_plan_id) REFERENCES `businessplan` (business_plan_id);
ALTER TABLE startup ADD CONSTRAINT FK_E48E50F6A76ED395 FOREIGN KEY (user_id) REFERENCES `users` (id);
CREATE INDEX IDX_E48E50F6B5AAB9D6 ON startup (business_plan_id);
CREATE INDEX idx_startup_mentor ON startup (mentor_id);
CREATE INDEX idx_startup_user ON startup (user_id);
CREATE INDEX idx_startup_founder ON startup (founder_id);
ALTER TABLE user_activity_logs DROP FOREIGN KEY `FK_USER_ACTIVITY_LOGS_USER_ID`;
ALTER TABLE user_activity_logs CHANGE created_at created_at DATETIME NOT NULL;
DROP INDEX idx_user_activity_logs_user_id ON user_activity_logs;
CREATE INDEX IDX_1DC5B09EA76ED395 ON user_activity_logs (user_id);
ALTER TABLE user_activity_logs ADD CONSTRAINT `FK_USER_ACTIVITY_LOGS_USER_ID` FOREIGN KEY (user_id) REFERENCES users (id);
DROP INDEX email ON users;
ALTER TABLE users CHANGE full_name full_name VARCHAR(100) DEFAULT NULL, CHANGE email email VARCHAR(150) DEFAULT NULL, CHANGE role role VARCHAR(255) DEFAULT NULL, CHANGE status status VARCHAR(255) DEFAULT NULL, CHANGE mentor_expertise mentor_expertise LONGTEXT DEFAULT NULL, CHANGE created_at created_at DATETIME DEFAULT NULL, CHANGE face_encoding face_encoding LONGTEXT DEFAULT NULL, CHANGE risk_score risk_score DOUBLE PRECISION DEFAULT 0 NOT NULL, CHANGE forum_bio forum_bio LONGTEXT DEFAULT NULL;
